html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  background: #e6ecf0; }
  body .fLft {
    float: left; }
  body .clearfix:after {
    content: "";
    display: table;
    clear: both; }
  body .mainContent {
    margin: 0 auto;
    width: 100%;
    position: relative; }
  body table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed; }
    body table caption {
      font-size: 1.5em;
      margin: .5em 0 .75em; }
    body table tr {
      background: #f8f8f8;
      border: 1px solid #ddd;
      padding: .35em; }
    body table th, body table td {
      padding: .625em;
      text-align: center; }
    body table th {
      font-size: .85em;
      letter-spacing: .1em;
      text-transform: uppercase; }
  body a.button {
    font-size: 1em;
    padding: 6px 10px;
    border: 2px solid #00796B;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    color: #000;
    display: inline-block; }
    body a.button.btn1 {
      position: absolute;
      right: 100px;
      top: 5px; }
    body a.button:hover {
      background: #00796B;
      color: #fff; }
  body .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1; }
  body .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    position: relative;
    transition: all 5s ease-in-out; }
    body .popup h2 {
      margin-top: 0;
      color: #333;
      font-family: Tahoma, Arial, sans-serif; }
    body .popup .content {
      max-height: 30%;
      overflow: auto; }
      body .popup .content div.contentMain {
        margin: 10px;
        width: 80%; }
      body .popup .content ._720kb-datepicker-calendar {
        display: none;
        width: 80%; }
      body .popup .content ._720kb-datepicker-open {
        top: 33px;
        right: 0;
        display: block; }
    body .popup .close {
      position: absolute;
      top: 2px;
      right: 3px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
      cursor: pointer; }
      body .popup .close:hover {
        color: #00897B; }
    body .popup input, body .popup select {
      width: 61%;
      height: 50px;
      line-height: 50px;
      border: 2px solid #00897B;
      padding: 0 10px; }
    body .popup .dateInput {
      width: 81%; }
    body .popup select {
      width: 100px; }
    body .popup .label {
      font-size: 14px;
      line-height: 50px;
      width: 80px;
      display: inline-block; }
    body .popup datepicker, body .popup .datepicker {
      float: none; }
    body .popup .btnDv {
      text-align: right; }
    body .popup .errorMsg {
      color: #E53935;
      display: inline-block;
      margin: 0 5px; }

@media screen and (max-width: 600px) {
  table {
    border: 0; }
    table caption {
      font-size: 1.3em; }
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px; }
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em; }
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right; }
    table td:before {
      /* aria-label has no advantage, it won't be read inside a table    */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase; }
    table td:last-child {
      border-bottom: 0; } }

@media screen and (max-width: 700px) {
  .box {
    width: 70%; }
  .popup {
    width: 70%; } }
